/*
Generated time: October 24, 2025 13:31
This file was created by the app developer. Feel free to contact the original developer with any questions. It was minified (compressed) by AVADA. AVADA do NOT own this script.
*/
.products-feed__pre-title,.products-feed__title{margin-block-start:0}.products-feed__pre-title{line-height:var(--line-height-static-sm)}.products-feed__head{padding-inline-end:8em}.products-feed--recommendations .products-feed__head{padding:0 10rem;text-align:center}